body {
    font-family: 'Arvo', serif;
}

header{
    background: #EEEEEE;
    border-bottom: solid;
}
 
section{
    background: #EEEEEE;
}

footer{
    background: #2A2B2A;  
}

h1 {
    color: #000000;
}

h2 {
    border-bottom: solid 2px;
    color: #cdcdcd;
}

h3{
   color: white;
   size:1.25em;
   font-family: 'Squada One', cursive;
   -webkit-transform: translate3d(0,0,0);
}

h4 {
   color: #cdcdcd;
   text-align: center;
   font-size: 1.5em; 
}

h5 {
   color: #cdcdcd;
   text-align: center;
   font-size: 1.25em; 
}

h6 {

}

value{
    
}

object{
    max-width: 100%;
    max-height: inherit;
}

button.button{
    background: #d5ae56;
    font-family: 'IM Fell Great Primer SC', serif; 
}

p {
    color: #000000;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}

img  {
	max-width: 100%;
}

a{
   text-decoration: none;
   font-family: 'Squada One', cursive;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #d5ae56;
}

